table {
    width: 100%;
    border-collapse: collapse; /* Para evitar los dobles bordes */
}
th, td {
    border: 2px solid red; /* Líneas de color rojo */
    text-align: center;
    padding: 10px;
}
td img {
    max-width: 100px; /* Ajusta el tamaño máximo de las imágenes según sea necesario */
    height: auto;
}

.contenedor {
    width: 100%;
    overflow: hidden; /* Asegura que el contenedor se ajuste a su contenido */
}
.contenedor img {
    float: left; /* Alinea la imagen a la izquierda */
    margin-right: 10px; /* Espacio entre la imagen y el texto */
    width: 150px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
}
.contenedor p {
    text-align: justify; /* Justifica el texto */
}
#logo {
    position: fixed;
    top: 10px;
    right: 10px; 
    width: 100px; 
    height: auto; 
    z-index: 999; 
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #80e961; 
    padding: 20px;
    text-align: center;
}

footer {
    background-color: #80e961; 
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.marco {
    border: 5px solid;
    border-image: linear-gradient(to bottom right, #80e961, #80e961);
    border-image-slice: 1;
    padding: 20px;
    margin: 20px;
}